body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}
.header {
    background: rgb(207, 111, 111);
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.hero {
  text-align: left;
  padding: 60px 0px;
}

.container {
  max-width: 1200px;
  padding: 0 120px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  gap: 40px;
  align-items: center;
  background-color: white;
}
img {
  border-radius: 50%;
}
h1 {
  color: blueviolet;
  font-size: 24px;
  margin-bottom: 20px;
}
p {
  color: #999;
  margin-bottom: 40px;
}
a {
  color: blue;
  text-decoration: none;
}
.hero-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: aquamarine;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}
.hero-button:hover {
  transition: background-color 0.8s ease;
  background-color: forestgreen;
}

.projects{
  text-align: left;
  padding: 60px 0px;
}

.projects-row {
  display: flex;
  gap: 40px;
}

.project-card {
  padding: 24px;
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;
  background-color: rgb(227, 156, 156);
  border-radius: 16px;
}

h2 {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
h3 {
  color: black;
  font-size: 16px;
  margin-bottom: 20px;
}

.project-card-content {
  display: grid;
  background-color:aquamarine;
  gap: 8px;
}

.project-card-img {
  border-radius: 8px;
}

.project-card-button {
  margin: 0 auto;
  padding: 20px 40px;
  align-items: center;
}

li {
  list-style: square;
}

.about {
  text-align: left;
  padding: 60px 0px;
}

.skills {
  text-align: left;
  padding: 60px 0px;
}

.concepts {
  text-align: left;
  padding: 60px 0px;
}

.contact {
  text-align: left;
  padding: 60px 0px;
}